* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #dbdbdb;
}

#myCanvas {
  width: 800px;
  height: 600px;
  border: 4px solid black;
}
